name: build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sage:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: sagemath/sagemath
      options: --user root
    steps:
      - name: install git
        run: sudo apt update && sudo apt install -y git
      - uses: actions/checkout@v3
      - name: Add safe directory
        run: git config --global --add safe.directory $PWD
        
      - name: prepare jupyter-book
        run: |
          /home/sage/sage/local/var/lib/sage/venv-python*/bin/pip install jupyter-book jupytext
          if [ -d ${DIR} ]; then echo "skip"; else /home/sage/sage/local/var/lib/sage/venv-python*/bin/jb create test_book; fi
      - name: bring markdown files and build them
        run: |
          cp src/*.md test_book
          /home/sage/sage/local/var/lib/sage/venv-python*/bin/jupyter-book myst init test_book/*.md --kernel python3
          /home/sage/sage/local/var/lib/sage/venv-python*/bin/jb build test_book
#       - name: copy built files to /
#         run: cp -r test_book/_build/html/* .
      - name: push the files to the repository
        run: | 
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "build by github actions"
          git push
          
      # Push the book's HTML to github-pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
        
#   build:
#     runs-on: ubuntu-latest 
#     steps:
#       # actions/checkoutという外部アクションを実行し，自身のレポジトリのデータを読み込む
#       - uses: actions/checkout@v3
#       - name: Compile .cpp file
#         run: g++ -Wall ./test.cpp
#       - name: Run the compiled file
#         run: ./a.out      
