name: Compile

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  sage:
    runs-on: ubuntu-latest
    container:
      image: sagemath/sagemath
      options: --user root
    steps:
      # test
      - uses: actions/checkout@v3
      - name: version
        run: sage -v
      - name: ls
        run: ls -la
      - name: prepare jupyter-book env
        run: pip install jupyter-book jupytext && jb create test_book && cd test_book && jb build .
        
#   build:
#     runs-on: ubuntu-latest 
#     steps:
#       # actions/checkoutという外部アクションを実行し，自身のレポジトリのデータを読み込む
#       - uses: actions/checkout@v3
#       - name: Compile .cpp file
#         run: g++ -Wall ./test.cpp
#       - name: Run the compiled file
#         run: ./a.out      
