name: Compile

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  sage:
    runs-on: ubuntu-latest
    container:
      image: computop/sage
    steps:
      # test
      - name: version
        run: sage -v
        
  build:
    runs-on: ubuntu-latest 
    steps:
      # actions/checkoutという外部アクションを実行し，自身のレポジトリのデータを読み込む
      - uses: actions/checkout@v3
      - name: Compile .cpp file
        run: g++ -Wall ./test.cpp
      - name: Run the compiled file
        run: ./a.out      
